.nav-tabs {
    display: flex;
    background-color: #282c34; 
  }
  
  /* .tab {
    margin-right: 10px;
  } */
  
  /* .menu {
    background-color: #282c34;  
  } */

  .tab {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: left;
    transition: background-color 0.3s;
    flex: 1;
  }
  
  .tablink.active {
    background-color: darkgray; /* Change the background color for active tab */
    color: white; /* Change the text color for active tab */
  }
  
  .tablink:hover {
    background-color: #ddd;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
  }
  
  /* Style the active tab content */
  .tabcontent.active {
    display: block;
  }

  button {
    border: none;
  }

  menu {
    border: 1px 1px solid black;
  }